@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Ubuntu:wght@500&display=swap');

:root {
  --blue-bg-color: linear-gradient(47deg, rgb(0, 26, 255), rgb(113, 196, 255) 100%);
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}


/*
//////////////////////
//////////////////////////SECTION INFORMATION
//////////////////////
*/

.sectioninfo {
  background: var(--blue-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  height: auto;
  border: 1px solid green;
}

/* //////////////// LOGO //////////////////////*/

.logo-container {
  box-sizing: content-box;
  width: 400px;
  right: 0;
  padding: 30px;
  justify-self: start;
  align-items: center;
  padding-left: 30px;
}

/* /////////////// CONTACT INFORMATION //////////////////////*/

.contact-info-container {
  display: flex;
  padding: 20px;
  width: inherit;
  align-items: center;
}

.contact-info-buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  color: #fff;
  cursor: pointer;
}

.info-btn {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.info-btn {
  margin: 0;
  background: #141441;
  width: 50px;
  height: 50px;
  align-self: center;
  line-height: 50px !important;
  border-radius: 50%;
  box-shadow: -3px 3px 1px 0.8px rgba(0, 0, 0, 0.2),
    3px -1px 5px 1px rgba(255, 255, 2555, 0.3);
  transition: all 0.7s linear;
}

/*
It's not possible to transition on display:hidden so to elminate this <p></p> I set the height to 0 and the hide the overflow on position absolute, to make it show again I only need to modify height property on hover
*/

.contact-info-buttons > p {
  /* position: absolute; */
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  /* height: 0;
  bottom: 0; */
  margin-left: -25px;
  overflow: hidden;
  align-self: center;
  transition: height 0.5s, position 0s, ease-in-out;
}

.icon {
  font-size: 24px;
  color: #fff;
}
 
.info-btn:hover {
  background: none;
  color: #fff;
  transform: scale(1.6);
  box-shadow: none;
}

.contact-info-buttons:hover > p:first-child {
  height: 50%;
  position: relative;
  color: red;
}

/* .contact-info-card >div:first-child:hover>p,
.contact-info-card div:nth-child(2):hover>p,
.contact-info-card div:nth-child(3):hover>p,
.contact-info-card div:last-child:hover>p {

} */




/* /////////////// CONTACT INFORMATION //////////////////////*/

.appointment-btn-section {
  display: flex;
  align-items: center;
}

.appointment-btn {
  border: none;
  margin: 10px;
  width: 300px;
  height: 45px;
  border-radius: 10px;
  color: #fff;
  background: #1DB954;
  letter-spacing: 1.01px;
  box-shadow: -3px 3px 1px 0.8px rgba(0, 0, 0, 0.2),
    3px -1px 5px 1px rgba(255, 255, 2555, 0.3);
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.appointment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}


.appointment-btn:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  background: #1DB954;
}



@media screen and (max-width:480px) {
  .sectioninfo {
    flex-direction: column;
    padding: 20px;
    place-content: center;
    align-items: center;
  }

  .contact-info-container {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .contact-info-card {
    flex-direction: column;
    width: auto;
    max-width: 300px;

  }

  .contact-info-card>div {
    justify-content: center;
    flex-direction: column;
    align-self: center;
  }

  .contact-info-card>div>p {
    text-align: center;
  }
}

@media screen and (max-width: 840px) {
  .sectioninfo {
    flex-direction: column;
    padding: 20px;
    place-content: center;
    align-items: center;
  }

  .appointment-btn {
    margin-bottom: 30px;
    justify-self: center;
  }
}

@media screen and (max-width: 1120px) {
  .appointment-btn {
    margin-bottom: 40px;
  }
}

/*
//////////////////////
//////////////////////////NAV BAR
//////////////////////
*/

.main-menu {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.67);
  margin-bottom: 40px;
}

.menu-items {
  left: 50%;
  display: flex;
  max-width: 900px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 40px;
  padding: 20px;
}

.menu-items a {
  font: 16px/1.4px 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: #111;
  transition: all 0.5s ease;
}

.menu-items a:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  color: rgb(0, 26, 255);
}

@media screen and (max-width: 560px) {
  .main-menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }

  .burger-menu {
    height: 100%;
    max-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    background-color: red;
  }

  .burger-bar {
    width: 10px;
    height: 10px;
    background-color: rgb(0, 183, 255);
    border-radius: 2px;
  }

  .menu {
    width: 50%;
    height: 100vh;
    background-color: rgb(154, 181, 240);
    position: absolute;
    top: 10;
    z-index: 99;
  }

  .menu-items>a {
    display: none;
  }

  /*--------------- sliding menu ---------------------*/

  .hidden {
    display: none;
  }

  .visible {
    display: inherit;
  }

  /*------------- animations --------------*/
  /* clicked */
  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.75em 1.25em);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-.5em 1em);
    transition: ease-out 0.5s;
  }

  /*------------------ unclicked ---------------*/

  .burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.17, 0.885, 0.32, 1.275) 0.5s;
  }

}

/* /////////////// COVID ALERT //////////////////////*/

.covidBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.covidBtn {
  height: 30px;
  width: 180px;
  min-width: 140px;
  max-width: 200px;
  border: 0;
  padding: 8px;
  width: 280px;
  border-radius: 8px;
  background: #cd4c32;
  cursor: pointer;
  box-shadow: -3px 3px 1px 0.8px rgba(0, 0, 0, 0.2),
    3px -1px 5px 1px rgba(255, 255, 2555, 0.3);
  transition: all 0.5s ease;
  align-self: center;
  margin-right: 20px;
}

.covidBtn a {
  color: #fff;
}

.covidBtn a:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.covidbtn:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}


/* .img-info-icon-na {
  filter: opacity(0.6) drop-shadow(0 0 0 rgb(0, 0, 196));
} */

/*
//////////////////////
//////////////////////////SECTION TITLE
//////////////////////
*/

.About {
  background: linear-gradient(47deg, rgb(0, 26, 255, 0.7), rgb(113, 196, 255, 0.7) 100%);
  background-position: 40% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 300px;
  display: flex;
  place-content: center;
  flex-direction: column;
}

.about-title {
  margin: 0;
  z-index: 1;
  font-size: 55px;
  font-weight: 900;
  color: white;
}

.link-home {
  z-index: 1;
  font-size: 18px;
  color: white;
  text-decoration: underline;
}

/*
//////////////////////
//////////////////////////SOCIAL ICONS 
//////////////////////
*/

.socialicons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 70px;
  top: 20px;
}

.icons-redes {
  display: flex;
  flex-direction: row;
}

.container-icons {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 10px;
  transition: all 0.5s ease;
  text-align: center;
}

.container-icons:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}





/*
//////////////////////
//////////////////////////FOOTER
//////////////////////
*/

footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: linear-gradient(47deg, rgb(0, 26, 255), rgb(113, 196, 255) 100%);
  color: #fff;
}

.footer-logo {
  width: 300px;
}

.footer-container {
  display: flex;
}

.left {
  width: 35%;
  padding-left: 30px;
}

.mid {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.mid-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.mid-list a {
  padding: 8px;
  position: relative;
  bottom: 15px;
  color: #fff;
}

.mid-title {
  font-size: 25px;
  text-align: center;
  position: relative;
  left: 15px;
  bottom: 10px;
}

.right {
  width: 35%;
}

.right-title {
  font-size: 25px;
  text-align: center;
  position: relative;
  bottom: 12px;
}

.right li {
  list-style: circle;
  padding: 5px;
  position: relative;
  left: 130px;
  bottom: 20px;
  text-align: justify;
}

.copyright {
  background-color: rgb(20, 20, 65);
  position: relative;
  bottom: 10px;
}

.copy {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  position: relative;
  color: #fff;
  position: relative;
}

.by {
  color: rgb(42, 241, 42);
}

.icon-f {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}

.back-to {
  font-size: 45px;
  position: relative;
  color: #fff;
  height: 50px;
  position: relative;
  bottom: 10px;
  right: 40px;
  transition: all 0.5s ease;
}

.back-to:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.footer-appo {
  position: relative;
  left: 450px;
  bottom: 40px;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.address {
  display: flex;
  justify-content: center;
  align-items: center;
}